:root{
    --pink: #b3b5f1;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Inter, sans-serif;
 }
 
 .link {
     background-color: white;
 }
 
 a:hover{
     color: var(--pink) !important;
 }


 #light-mode{
     display: flex;
     overflow: hidden;
 }

 #dark-mode{
    display: flex;
    overflow: hidden;
}
 
 .navbar{
     flex: 0.2;
     background-color: white;
 }
 
 .main{
     flex: 1.2;
     width: 100%;
 }
 
 .lol {
     background-image: linear-gradient(96.28deg,#ddcfff,#b46fc1 99.28%);
     width:340px;
     text-align:center;
     padding:4px;
     border-radius: 10%;
 }
 
.news-border {
     background-image: linear-gradient(96.28deg,#ddcfff,#b46fc1 99.28%);
     width:480px;
     height: 370px;
     text-align:center;
     padding:4px;
     border-radius: 10%;
     transition: transform 200ms;
 }

 #light-mode .news-border {
    background-image: linear-gradient(96.28deg,#ddcfff,#b46fc1 99.28%);
    width:480px;
    height: 370px;
    text-align:center;
    padding:4px;
    border-radius: 10%;
    transition: transform 200ms;
}
 
.crypto-cardd {
    background-color:#352b5d;
    color: white;
    width:100%;
    height: 220px;
    text-align:center;
    border-radius: 10%;
    font-family: Inter, sans-serif;
    font-weight: 800;
    transition: transform 200ms;
}

#light-mode .crypto-cardd {
    background-color:white;
    color: black;
    width:100%;
    height: 220px;
    text-align:center;
    border-radius: 10%;
    font-family: Inter, sans-serif;
    font-weight: 800;
    transition: transform 200ms;
}

.crypto-carddd {
    background-color:#352b5d;
    color: white;
    width:100%;
    height: 362px;
    text-align:center;
    border-radius: 10%;
    font-family: Inter, sans-serif;
    font-weight: 800;
    transition: transform 200ms;
    padding: 15px;
}

#light-mode .crypto-carddd {
    background-color: white;
    width:100%;
    height: 362px;
    text-align:center;
    border-radius: 10%;
    font-family: Inter, sans-serif;
    font-weight: 800;
    transition: transform 200ms;
    padding: 15px;
}
 /*-------------------------------------------------------- Navbar -------------------------------------------------------- */
 .a {
    background-color: #352b5d;
    color:#726e86;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 23px 20px;
}

#light-mode .a {
    background: #ddcfff;
    color:white;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 23px 20px;
}

.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: #352b5d;
}

#light-mode .nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: #ddcfff;
}

.logo-container{
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
    background-color:#352b5d;
}

#light-mode .logo-container{
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
    background-color:#ddcfff;
}

.logo{
    color:white;
    font-weight: 700;
    font-size: 30px;
}

.logo a{
   color: white;
}

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

 /*-------------------------------------------------------- News Page -------------------------------------------------------- */

 .news-title {
    font-size: 20px;
    color: white;
    text-align:left;
}

#light-mode .news-title {
    color: black;
    font-size: 20px;
    text-align:left;
}

.reference-title {
    color: white;
    font-size: 12px;
 }

#light-mode .reference-title {
    color: black;
    font-size: 12px;
 }

 .news-image {
    float: left;
    width:  10vh;
    height: 10vh;
    object-fit: cover;
 }

 .news-outlet-image {
    float: left;
    min-width:  40px;
    height: 40px;
    object-fit: cover;
 }
 
.name {
    margin-top: 6%;
    font-size: 23px;
    margin-bottom: 0%;
}

.card-title {
    color:#726e86;
    font-size: 17px;
}

.news-desc {
   color:#726e86;
   font-size: 15px;
}


.stat-title {
    font-size: 25px;
}

#light-mode .stat-title {
    font-size: 25px;
}

 /*-------------------------------------------------------- HomepPage -------------------------------------------------------- */

#light-mode .routes {
    padding: 50px;
    background-color: white;
}

.crypto-cardd:hover, .crypto-carddd:hover {
    transform: scale(1.1,1.1);
}
 
 .num {
     font-family: Inter, sans-serif;
     font-weight: 800;
     font-size: 50px;
     text-align: center;
     background: linear-gradient(
             to bottom, #ddcfff, #eec8f5);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
 }

 #light-mode .num {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(
             to bottom, #4600ea, #ba00da);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}
 
 .global-stats {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     background-color:black;
     width:90%;
     height: 300px;
     border-radius: 5%;
     margin-left: 5%;
     justify-content: center;
     align-content: center;
 }

 .space {
    margin-right: 4%;
}
 
 .title {
     font-family: Inter, sans-serif;
     font-weight: 800;
     font-size: 30px;
     text-align: center;
     color: white;
 }
 
 .ban {
     margin-left: 30px;
 }

 #light-mode .global-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ddcfff;
    width:90%;
    height: 300px;
    border-radius: 5%;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
 }

 /*-------------------------------------------------------- CryptoDetails -------------------------------------------------------- */

.stats {
    color: white;
    font-weight: 800;
}

#light-mode .stats {
    color: black;
    font-weight: 800;
}

.coin-description {
    color: white;
}

#light-mode .coin-description {
    color: black;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
    color: white;
}

#light-mode .coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
    color: black;
}

.overview {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.coin-heading-container {
    font-weight: 800;
    color: white;
}

.coin-name {
    color: white;
    font-weight: 800;
}

#light-mode .overview {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: black;
}

#light-mode .coin-heading-container {
    font-weight: 800;
    color: black;
}

#light-mode .coin-name {
    color: black;
    font-weight: 800;
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: white !important;
}

#light-mode .coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: black !important;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
}

#light-mode .link-name{
    text-transform: capitalize;
    font-size: 1rem;
    color: black;
}

.crypto-chart {
    background-color:#352b5d;
    width:340px;
    text-align:center;
    padding:4px;
    border-radius: 30px;
}

#light-mode .crypto-chart {
    background-color:white;
    border: 4px solid #ddcfff;
    width:340px;
    text-align:center;
    padding:4px;
    border-radius: 30px;
}

.crypto-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
 
 .crypto-card-stats {
     display: flex;
     flex-direction: row;
     margin-top: 18%;
     justify-content: center;
     align-content: center;
 }

 .news-card-stats {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content:space-evenly;
    align-content:center;
}
 
 .crypto-card-stats div {
     margin-left: 10px;
     margin-right: 10px;
 }
 
 .crypto-card .crypto-image {
     margin-top: 5%;
     width:50px;
     height:50px;
     margin-right: 5%;
     margin-bottom: 0;
 }
 
 
 .search-crypto input {
     text-align: center;
     background-color: #352b5d;
     border-radius: 30px;
     width: 300px;
     height: 40px;
     border: none;
     color:#726e86;
 }

 #light-mode .search-crypto input {
    text-align: center;
    background-color: white;
    border: 3.5px solid #ddcfff;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    color:white;
}
 
.routes{
     padding: 50px;
     background-color: #170f34;
}

 
.loader{
     height: 81vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
 
 @media screen and (max-width:1300px){
     .main{
         margin-left: 50px;
     }
 }
 
 @media screen and (max-width:1170px){
     .main{
         margin-left: 50px;
     }
 }
 
 @media screen and (max-width:1000px){
     .main{
         margin-left: 100px;
     }
 }
 
 @media screen and (max-width:800px){
     #light-mode {
         flex-direction: column;
         overflow: hidden;
     }

     #dark-mode {
        flex-direction: column;
        overflow: hidden;
    }
 
     .navbar{
         flex: 1;
     }
 
     .main{
         flex: 1;
         margin-top: 90px;
         margin-left: 0px;
         margin-right: 10px;
     }
 
     .nav-container{
         height: 8vh;
         position:fixed;
         width: 100%;
         z-index: 100;
         background-color: var(--bgSecondary);
     }
   
     .menu-control-container{
         display: block !important;
     }
 
     .ant-menu{
         position: absolute;
         right: 0px;
     }
     
     .show-more{
         font-size: 1.3rem !important;
     }
     .global-stats {
        display: flex;
        background-color:black;
        width:90%;
        height: 500px;
        border-radius: 5%;
        margin-left: 5%;
        justify-content: center;
        align-content: center;
    }
    .title {
        font-size: 20px;
    }
    .num {
        font-size: 30px;
    }
    .ban {
        margin-left: 30px;
    }
    .space {
        margin-bottom: 5%;
    }
     .routes{
         padding: 15px;
     }
     .search-crypto input {
         margin:0px;
         margin-bottom: 30px;
     }
     .news-border {
        background-image: linear-gradient(96.28deg,#ddcfff,#b46fc1 99.28%);
        width:320px;
        height: 510px;
        text-align:center;
        padding:4px;
        border-radius: 10%;
        transition: transform 200ms;
        margin-left:4%;
    }   
     .crypto-carddd {
        background-color:#352b5d;
        color: white;
        width:100%;
        height: 502px;
        text-align:center;
        border-radius: 10%;
        font-family: Inter, sans-serif;
        font-weight: 800;
        transition: transform 200ms;
        padding: 15px;
    }
 }
 
 .coin-detail-container{
     margin: 30px;
 }
 
 .coin-heading-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-bottom: 1px solid var(--border);
     padding-top: 20px;
     padding-bottom: 20px;
     gap: 10px;
 }
 
 .coin-heading-container p{
     font-size: 1rem;
     opacity: 0.9;
     margin-bottom: 20px;
 }
 
 .stats-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
 }
 
 .stats-container h2{
     font-weight: 700;
     font-size: 1.4rem;
     margin-top: 20px;
     color: var(--pink);
 }
 
 .coin-stats-name{
     display: flex;
     gap: 10px;
     font-size: 1rem;
 }
 
 .coin-value-statistics-heading p{
     font-size: 1rem;
     opacity: 0.9;
 }
 
 .coin-desc-link{
     display: flex;
     gap: 40px;
     margin-top: 40px;
     padding-top: 20px;
 }
 
 .coin-desc-link h2{
     font-weight: 700;
     color: var(--pink);
 }
 
 .coin-desc-link p{
     font-size: 1rem;
     opacity: 0.9;
 }
 
 .coin-desc-link a{
     color: var(--pink);
 }
 
 .coin-desc-link h3{
     font-weight: 700;
 }
 
 .coin-desc{
     flex: 0.5;
 }
 
 .coin-links{
   padding: 0px 20px;
     flex: 0.5;
 }
 
 .coin-link{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid var(--border);
     padding: 20px;
 }
 
 .coin-link a{
     color: var(--pink);
     font-weight: 700;
     font-size: 1rem;
 }
 
 .coin-link:hover, .coin-stats:hover{
     background-color: rgba(255, 255, 255, 0.377);
 }

 #light-mode .coin-link:hover, #light-mode .coin-stats:hover{
    background-color: #ddcfff70;
}
 
 @media screen and (max-width:1000px){
     .stats-container{
         flex-direction: column;
     }
     .coin-desc-link{
         flex-direction: column;
     }
     .stats-container h2{
         margin-top: 0px;
     }
 }
 
 @media screen and (max-width: 500px){
     .coin-links{
         padding: 0px;
     }
     .coin-detail-container{
         margin: 0;
     }
 }
 @media screen and (max-width: 500px){
     .heading{
         margin-top: 20px;
     }
 }
 
 .select-news {
     width: 180px;
 }
 
 .news-card {
     min-height: 300px !important;
 }
 
 .news-image-container{
     display: flex !important;
     justify-content: space-between !important;
 }
 
 .news-title{
 width: 70%;
 }
 
 .news-image-container .img {
     width:100px;
     height:100px;
 }
 
 .news-card p {
     color: black;
     margin: 10px 0px !important;
 }
 
 .provider-container{
     display: flex;
     justify-content: space-between;
 }
 
 .provider-name{
     margin-left: 10px;
 }
 
 .chart-header{
     display: flex;
     justify-content: space-between;
     gap: 50px;
     color: #b3b5f1;
 }
 
 .home-heading-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 40px;
 }
 
 
 .search-crypto{
     margin: 20px auto 30px auto;
     width: 250px;
 }
 
 .select-timeperiod{
     width: 200px !important;
     margin-top: 20px !important;
 }
 
 .menu {
     display:flex;
     flex-direction: column;
 }
 

 .home-title{
     font-family: Inter, sans-serif;
     font-weight: 800;
     font-size: 30px;
     text-align: center;
     color: white;
 }

/*------------------------------------------------------ Footer -------------------------------------------------*/

 .footer {
    color: white;
    background-color: #170f34;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

#light-mode .footer {
    color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.footer-header {
    font-size: 17px;
    color: white;
    text-align: center; 
}

#light-mode .footer-header {
    font-size: 17px;
    color: white;
    text-align: center; 
}

.footer-info {
    color: white;
    text-align: center; 
}

#light-mode .footer-info {
    color: #b3b5f1;
    text-align: center; 
}
/*-------------------------------------------- Switch Slider ------------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 14px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #ddcfff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-checkbox {
    padding: 10px;
  }
